// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/card";

body {
    background-image: url('https://images.unsplash.com/photo-1528459584353-5297db1a9c01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1075&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-cocktail {
    justify-content: space-between;
    margin-left: 20px;
  }
  
  .navbar-cocktail .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-cocktail i {
    width: 40px;
  }

  .page-name {
    font-family: 'Lobster', cursive;
    margin-left: 30px;
  }

  .card-title > a{
    color: white;
    font-size: 32px;
  }

  .card-title {
    
    font-family:'Nerko One', cursive;
    
  }

  .navbar-nav {
    margin-right: 100px;
  }
  .buttons {
      background-color: antiquewhite;
      border-radius: 5px;
  }

  .card-body {
    background-size: cover;
    height: 300px;
  }

  img {
      border-radius: 15px;
  }